body {
  background-color: #131313;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about p {
  line-height: 200%;
  text-align: justify;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  background-color: #131313;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #3B82F6;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  display: inline;
  margin-right: 20px;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #3B82F6;
}

.section {
  background-color: #1E1E1E;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section:hover {
  transform: translateY(-5px);
}

.section h2 {
  color: #3B82F6;
  margin-bottom: 20px;
}

.section p {
  color: #ddd;
}

.experience-item {
  border-left: 4px solid #3B82F6;
  padding-left: 12px;
}

.project {
  background-color: #0D1117;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  color: #3B82F6;
  margin-bottom: 10px;
}

.project p {
  color: #ddd;
  text-align: justify;
  line-height: 200%;

}

.footer {
  background-color: #131313;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

li{
  margin: 20px 0;
  line-height: 200%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #9CA3AF;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #4B5563;
  background-color: #111827;
  color: #D1D5DB;
}

input[type="submit"],
button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background-color: #3B82F6;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
  background-color: #2563EB;
}
